Repository Kushal997-das/Hacktoberfest-2024, changes with the labels that .github/labeler.yml gives for each.
All labels: hacktoberfest, hack-docs-contrib, hack-code-contrib

.github/labeler.yml:

hacktoberfest:
  - changed-files:
    - any-glob-to-any-file: '**'

hack-docs-contrib:
- changed-files:
  - any-glob-to-any-file: '**/*.md'

hack-code-contrib:
- changed-files:
  - any-glob-to-any-file: ['**/*.ts', '**/*.js', '**/*.html', '**/*.json']

commit
  Beginner Level 📁/Sprial-Matrix-Problem/image.png
  Beginner Level 📁/Sprial-Matrix-Problem/question.md
  Beginner Level 📁/Sprial-Matrix-Problem/spiral-matrix-solution.cpp
Labels: hacktoberfest, hack-docs-contrib

commit
  Beginner Level 📁/data.json
Labels: hacktoberfest, hack-code-contrib

added-problem
  Beginner Level 📁/CanBePalindrome/question.md
  Beginner Level 📁/CanBePalindrome/solution.cpp
Labels: hacktoberfest, hack-docs-contrib

added-ques
  Beginner Level 📁/Patterns/FullDiamond.c
  Beginner Level 📁/Patterns/questions.md
Labels: hacktoberfest, hack-docs-contrib

Rabin-Karp Algorithm for Pattern Searching
  .vscode/c_cpp_properties.json
  .vscode/launch.json
  .vscode/settings.json
  Beginner Level 📁/data.json
  Beginner Level 📁/rabinKarpAlgorithmForPatternSearching/question.md
  Beginner Level 📁/rabinKarpAlgorithmForPatternSearching/solution.cpp
Labels: hacktoberfest, hack-docs-contrib, hack-code-contrib

Create prime_number
  prime_number
Labels: hacktoberfest

Create subject_marks
  subject_marks
Labels: hacktoberfest

Create loops
  loops
Labels: hacktoberfest

implemented stack using javascript
  Beginner Level 📁/Stack-JS/question.md
  Beginner Level 📁/Stack-JS/solution.js
Labels: hacktoberfest, hack-docs-contrib, hack-code-contrib

Create Dijkstra's-Algorithm.cpp
  Beginner Level 📁/Dijkstra's-Algorithm.cpp
Labels: hacktoberfest

Roman Number to Integer
  Beginner Level 📁/Roman_Number_to_Integer/question.md
  Beginner Level 📁/Roman_Number_to_Integer/solution.java
Labels: hacktoberfest, hack-docs-contrib

Roman number to Integer
  Beginner Level 📁/data.json
Labels: hacktoberfest, hack-code-contrib

Roman Number to Integer
  Beginner Level 📁/Roman_Number_to_Integer/solution.java
Labels: hacktoberfest

Ajout d'un gestionnaire de contacts en Python
  .vscode/c_cpp_properties.json
  .vscode/launch.json
  .vscode/settings.json
  Intermediate Level 📁/contacts/contacts.json
  Intermediate Level 📁/contacts/contacts.py
Labels: hacktoberfest, hack-code-contrib

add portofolio
  Intermediate Level 📁/data.json
  Intermediate Level 📁/joyboyid/img/free-bsd.png
  Intermediate Level 📁/joyboyid/index.html
  Intermediate Level 📁/joyboyid/js/script.js
Labels: hacktoberfest, hack-code-contrib

add username github
  Beginner Level 📁/data.json
Labels: hacktoberfest, hack-code-contrib

add solution by Go leanguage
  Beginner Level 📁/Alternating Square Pattern/solution.go
Labels: hacktoberfest

KMP algorithm-LPS array
  Beginner Level 📁/KMP algorithm/KMP.class
  Beginner Level 📁/KMP algorithm/Solution.class
  Beginner Level 📁/KMP algorithm/Solution.java
  Beginner Level 📁/KMP algorithm/question.md
  Beginner Level 📁/data.json
Labels: hacktoberfest, hack-docs-contrib, hack-code-contrib

Create Collatz's hypothesis
  Beginner Level 📁/Collatz's hypothesis
Labels: hacktoberfest

Delete Beginner Level 📁/Collatz's hypothesis
  Beginner Level 📁/Collatz's hypothesis
Labels: hacktoberfest

Create question.md
  Beginner Level 📁/Collatz's Hypothesis/question.md
Labels: hacktoberfest, hack-docs-contrib

First commit
  Beginner Level 📁/Collatz's Hypothesis/Collatz's hypothesis.py
  Beginner Level 📁/Collatz's Hypothesis/question.md
Labels: hacktoberfest, hack-docs-contrib

Update data.json
  Beginner Level 📁/data.json
Labels: hacktoberfest, hack-code-contrib

Update data.json
  Beginner Level 📁/data.json
Labels: hacktoberfest, hack-code-contrib
