Repository Kushal997-das/Hacktoberfest-2024, changes with the labels that .github/labeler.yml gives for each.
All labels: hacktoberfest, hack-docs-contrib, hack-code-contrib

.github/labeler.yml:

hacktoberfest:
  - changed-files:
    - any-glob-to-any-file: '**'

hack-docs-contrib:
- changed-files:
  - any-glob-to-any-file: '**/*.md'

hack-code-contrib:
- changed-files:
  - any-glob-to-any-file: ['**/*.ts', '**/*.js', '**/*.html', '**/*.json']

Add TwoSumSolution and question.md files
  Beginner Level 📁/TwoSum/TwoSumSolution.java
  Beginner Level 📁/TwoSum/question.md
  Beginner Level 📁/data.json
Labels: hacktoberfest, hack-docs-contrib, hack-code-contrib

Add Fibonacci logic in java
  Beginner Level 📁/Fibonacci/FibonacciJavaStreams.java
  Beginner Level 📁/Fibonacci/question.md
Labels: hacktoberfest, hack-docs-contrib

Add contributer in data.json
  Beginner Level 📁/data.json
Labels: hacktoberfest, hack-code-contrib

Added solution of the problem
  Beginner Level 📁/Length_of_the_Longest_Subsequence_That_Sums_to_Target/qustion.md
  Beginner Level 📁/Length_of_the_Longest_Subsequence_That_Sums_to_Target/solution.cpp
Labels: hacktoberfest, hack-docs-contrib

Create index.html
  Beginner Level 📁/To-do-list App/index.html
Labels: hacktoberfest, hack-code-contrib

Create styles.css
  Beginner Level 📁/To-do-list App/styles.css
Labels: hacktoberfest

Create script.js
  Beginner Level 📁/To-do-list App/script.js
Labels: hacktoberfest, hack-code-contrib

Update data.json
  Beginner Level 📁/data.json
Labels: hacktoberfest, hack-code-contrib

Create validparenthesisornot.cpp
  Beginner Level 📁/parenthesischecker.cpp/validparenthesisornot.cpp
Labels: hacktoberfest

add solution to merge two linked list
  Beginner Level 📁/Merge Linked List/question.md
  Beginner Level 📁/Merge Linked List/solution.c
Labels: hacktoberfest, hack-docs-contrib

add github username to data.json
  Beginner Level 📁/data.json
Labels: hacktoberfest, hack-code-contrib

Create Knapsack _Problem.cpp
  Knapsack _Problem.cpp
Labels: hacktoberfest

added the search insert position code in cpp
  Beginner Level 📁/search Insert Position/solution.cpp
Labels: hacktoberfest

solved the issue "search insert position" in cpp
  Beginner Level 📁/Search Insert Position/solution.cpp
Labels: hacktoberfest

Update data.json
  Beginner Level 📁/data.json
Labels: hacktoberfest, hack-code-contrib

done commiting
  Beginner Level 📁/K largest element/question.md
  Beginner Level 📁/K largest element/solution.java
Labels: hacktoberfest, hack-docs-contrib

Create question.md
  Beginner Level 📁/Merge two sorted lists /question.md
Labels: hacktoberfest, hack-docs-contrib

Create solution.py
  Beginner Level 📁/Merge two sorted lists /solution.py
Labels: hacktoberfest

Update data.json
  Beginner Level 📁/data.json
Labels: hacktoberfest, hack-code-contrib

halloumi
  Beginner Level 📁/Halloumi_Boxes/question.md
  Beginner Level 📁/Halloumi_Boxes/solution.cpp
  Beginner Level 📁/data.json
  CONTRIBUTING.md
Labels: hacktoberfest, hack-docs-contrib, hack-code-contrib

Implemented iterative Fibonacci in java
  Beginner Level 📁/FibonacciIterative/fibonacci.java
Labels: hacktoberfest

Add the question
  Beginner Level 📁/FibonacciIterative/IterativeFibonacci.md
Labels: hacktoberfest, hack-docs-contrib

Update data.json and add myself
  Beginner Level 📁/data.json
Labels: hacktoberfest, hack-code-contrib

Pascal's Triange Implemented
  Beginner Level 📁/Pascal's Triange/pascal_triangle.py
Labels: hacktoberfest

Ping Pong Game
  Beginner Level 📁/Ping Pong Game/Pong.py
Labels: hacktoberfest

Create question.md
  Beginner Level 📁/SimpleCalculator/question.md
Labels: hacktoberfest, hack-docs-contrib

Updated data.json
  Beginner Level 📁/data.json
Labels: hacktoberfest, hack-code-contrib

data.json
  Beginner Level 📁/data.json
Labels: hacktoberfest, hack-code-contrib

Update data.json
  Beginner Level 📁/data.json
Labels: hacktoberfest, hack-code-contrib

Check Palindrome solution in java
  Beginner Level 📁/Check Palindrome/solution.java
Labels: hacktoberfest

Create question.md
  Beginner Level 📁/Simple Calculator/question.md
Labels: hacktoberfest, hack-docs-contrib

Create solution.c
  Beginner Level 📁/Simple Calculator/solution.c
Labels: hacktoberfest

Added Problem Description for GCD
  Beginner Level 📁/Greatest Common Divisor/question.md
Labels: hacktoberfest, hack-docs-contrib

Added program for GCD in C++
  Beginner Level 📁/Greatest Common Divisor/solution.cpp
Labels: hacktoberfest

added-question
  Beginner Level 📁/PrintPerfectSquares/PerfectSquare.cpp
  Beginner Level 📁/PrintPerfectSquares/question.md
  Beginner Level 📁/data.json
Labels: hacktoberfest, hack-docs-contrib, hack-code-contrib

hollow_diamond_added
  Beginner Level 📁/Patterns/HollowDiamond.c
  Beginner Level 📁/Patterns/questions.md
Labels: hacktoberfest, hack-docs-contrib

Added a Check Armstrong number question
  Beginner Level 📁/Check Armstrong/Check_Armstrong.cpp
  Beginner Level 📁/Check Armstrong/Question.md
Labels: hacktoberfest, hack-docs-contrib

done
  Beginner Level 📁/Prime numbers in a range/question.md
  Beginner Level 📁/Prime numbers in a range/solution.py
  Beginner Level 📁/data.json
Labels: hacktoberfest, hack-docs-contrib, hack-code-contrib

Question.md
  Beginner Level 📁/Check Armstrong/Question.md
Labels: hacktoberfest, hack-docs-contrib

readme.md
  readme.md
Labels: hacktoberfest, hack-docs-contrib
