Repository Kushal997-das/Hacktoberfest-2024, pull requests merged in 2021-10, with the labels that each got.

#3 Intermediate Project Link Added in Readme
  readme.md
Labels: documentation, hacktoberfest-accepted

#11 updated
  readme.md
Labels: hacktoberfest-accepted

#16 Hello world code & git details in data.json file.
  1. Beginner level/TASK #1/Hello_World/question.md
  1. Beginner level/TASK #1/Hello_World/solution.java
  1. Beginner level/TASK #1/data.json
  1. Beginner level/TASK #2/data.json
Labels: hacktoberfest-accepted

#19 Added First Missing Positive
  1. Beginner level/TASK #1/First Missing Positive/question.md
  1. Beginner level/TASK #1/First Missing Positive/solution.cpp
  1. Beginner level/TASK #1/data.json
Labels: hacktoberfest-accepted

#20 added code and username in json
  1. Beginner level/TASK #1/Best_time_to_buy_and_sell_stock/question.md
  1. Beginner level/TASK #1/Best_time_to_buy_and_sell_stock/solution.cpp
  1. Beginner level/TASK #1/data.json
Labels: hacktoberfest-accepted

#18 Added Longest Common Subsequence Question
  1. Beginner level/TASK #1/Longes Common Subsequence/question.md
  1. Beginner level/TASK #1/Longes Common Subsequence/solution.cpp
  1. Beginner level/TASK #1/data.json
  1. Beginner level/TASK #2/Profiles/S-Swaroop.PNG
  1. Beginner level/TASK #2/README.md
  1. Beginner level/TASK #2/data.json
Labels: hacktoberfest-accepted

#21 I am Vipul this is my first time making a pr
  1. Beginner level/TASK #1/Flip-the-image/Solution.java
  1. Beginner level/TASK #1/Flip-the-image/question.md
  1. Beginner level/TASK #1/Hello_World/question.md
  1. Beginner level/TASK #1/Hello_World/solution.java
  1. Beginner level/TASK #1/data.json
Labels: good first issue, hacktoberfest-accepted

#27 Factorial of a number
  1. Beginner level/TASK #1/Factorial of a number/question.md
  1. Beginner level/TASK #1/Factorial of a number/solution.java
  1. Beginner level/TASK #1/data.json
Labels: good first issue, hacktoberfest-accepted

#28 Hackerrank question on alogos
  1. Beginner level/TASK #1/Minimum-Maximum Sum/question.md
  1. Beginner level/TASK #1/Minimum-Maximum Sum/solution.cpp
  1. Beginner level/TASK #1/data.json
  1. Beginner level/TASK #2/Profiles/AnuragThePathak.jpg
  1. Beginner level/TASK #2/README.md
  1. Beginner level/TASK #2/data.json
Labels: hacktoberfest-accepted

#30 PRINT3NODES
  1. Beginner level/TASK #1/Print3nodes/question.md
  1. Beginner level/TASK #1/Print3nodes/solution.cpp
Labels: hacktoberfest-accepted

#25 Update data.json
  1. Beginner level/TASK #1/data.json
Labels: good first issue

#37 ADDED CODE OF CONDUCT
  CODE_OF_CONDUCT.md
Labels: hacktoberfest-accepted

#39 Added one program and data also added in data.json file. Please accept my PR.
  1. Beginner level/TASK #1/Power of n number/power.c
  1. Beginner level/TASK #1/data.json
Labels: good first issue, hacktoberfest-accepted

#31 Task 1 complete
  1. Beginner level/TASK #1/Moving_enlarging_image/minions.jpg
  1. Beginner level/TASK #1/Moving_enlarging_image/question.md
  1. Beginner level/TASK #1/Moving_enlarging_image/solution.html
  1. Beginner level/TASK #1/data.json
Labels: good first issue, hacktoberfest-accepted

#35 Maximum sum of triplets of a list
  1. Beginner level/TASK #1/Maximum sum of triplets/question.md
  1. Beginner level/TASK #1/Maximum sum of triplets/triplet_sum_max.py
  1. Beginner level/TASK #1/data.json
Labels: good first issue, hacktoberfest-accepted

#38 Added rotate a vector to right
  1. Beginner level/TASK #1/Rotate vector to right/question.md
  1. Beginner level/TASK #1/Rotate vector to right/solution.cpp
  1. Beginner level/TASK #1/data.json
Labels: good first issue, hacktoberfest-accepted

#41 New Intermediate Project Added in Readme
  readme.md
Labels: documentation, hacktoberfest-accepted

#5 Find the Highest Altitude leetcode solution
  1. Beginner level/TASK #1/Find the Highest Altitude/Solution.java
  1. Beginner level/TASK #1/Find the Highest Altitude/question.md
  1. Beginner level/TASK #1/data.json
Labels: good first issue, hacktoberfest-accepted

#32 Added the alternating square pattern question and solution
  1. Beginner level/TASK #1/Alternating Square Pattern/question.md
  1. Beginner level/TASK #1/Alternating Square Pattern/solution.cpp
  1. Beginner level/TASK #1/data.json
Labels: good first issue, hacktoberfest-accepted

#33 Added the question Longest Increasing Subsequence and its solution
  1. Beginner level/TASK #1/Longest Increasing Subsequence/question.md
  1. Beginner level/TASK #1/Longest Increasing Subsequence/solution.cpp
  1. Beginner level/TASK #1/data.json
Labels: good first issue, hacktoberfest-accepted

#47 Profile Added
  1. Beginner level/TASK #2/Profiles/surbhi2408.jpg
  1. Beginner level/TASK #2/README.md
  1. Beginner level/TASK #2/data.json
Labels: hacktoberfest-accepted

#51 Added 'The Lead Game' using CPP
  1. Beginner level/TASK #1/The Lead Game/question.md
  1. Beginner level/TASK #1/The Lead Game/solution.cpp
  1. Beginner level/TASK #1/data.json
  1. Beginner level/TASK #2/Profiles/DebarghaMukherjee.jpg
  1. Beginner level/TASK #2/README.md
  1. Beginner level/TASK #2/data.json
Labels: hacktoberfest-accepted

#56 Beginner Tasks OK - Added " Counting Letter in Paragraph "
  1. Beginner level/TASK #1/Counting Letter in Paragraph/counting.js
  1. Beginner level/TASK #1/Counting Letter in Paragraph/question.md
  1. Beginner level/TASK #1/data.json
  1. Beginner level/TASK #2/Profiles/Eilaluth.png
  1. Beginner level/TASK #2/README.md
  1. Beginner level/TASK #2/data.json
Labels: good first issue, hacktoberfest-accepted

#60 Updated Beginner level - Pattern Programs
  1. Beginner level/TASK #1/Patterns/.vs/Patterns/v16/.suo
  1. Beginner level/TASK #1/Patterns/.vs/VSWorkspaceState.json
  1. Beginner level/TASK #1/Patterns/.vs/slnx.sqlite
  1. Beginner level/TASK #1/Patterns/FloydsTriangle.c
  1. Beginner level/TASK #1/Patterns/FullPyramid.c
  1. Beginner level/TASK #1/Patterns/FullPyramidofNumbers.c
  1. Beginner level/TASK #1/Patterns/HalfPyramid.c
  1. Beginner level/TASK #1/Patterns/HalfPyramidofAlphabets.c
  1. Beginner level/TASK #1/Patterns/HalfPyramidofNumbers.c
  1. Beginner level/TASK #1/Patterns/InvertedFullPyramid.c
  1. Beginner level/TASK #1/Patterns/InvertedHalfPyramidofNumbers.c
  1. Beginner level/TASK #1/Patterns/InvertedHalfpyramid.c
  1. Beginner level/TASK #1/Patterns/PascalsTriangle.c
  1. Beginner level/TASK #1/Patterns/questions.md
  1. Beginner level/TASK #1/data.json
  1. Beginner level/TASK #2/Profiles/ThejasreeKilari.PNG
  1. Beginner level/TASK #2/README.md
  1. Beginner level/TASK #2/data.json
Labels: hacktoberfest-accepted

#67 Added Printing nodes at k distance from root of binary tree problem.
  1. Beginner level/TASK #1/Printing Nodes at K Distance from Root of Binary Tree/PrintNodesatdistanceKfromroot.cpp
  1. Beginner level/TASK #1/Printing Nodes at K Distance from Root of Binary Tree/question.md
  1. Beginner level/TASK #1/data.json
  1. Beginner level/TASK #2/Profiles/AmitZope.png
  1. Beginner level/TASK #2/README.md
  1. Beginner level/TASK #2/data.json
Labels: hacktoberfest-accepted

#52 Beginner Tasks Done
  1. Beginner level/TASK #1/Fibonacci_recursion/Question.md
  1. Beginner level/TASK #1/Fibonacci_recursion/solution.cpp
  1. Beginner level/TASK #1/data.json
  1. Beginner level/TASK #2/Profiles/afzalkhan.jpg
  1. Beginner level/TASK #2/README.md
  1. Beginner level/TASK #2/data.json
Labels: hacktoberfest-accepted

#58 Added problem
  1. Beginner level/TASK #1/Calculate BMI/Question.md
  1. Beginner level/TASK #1/Calculate BMI/Solution.java
  1. Beginner level/TASK #1/data.json
Labels: hacktoberfest-accepted

#59 Code for Array rotation
  1. Beginner level/TASK #1/Array Rotation/question.md
  1. Beginner level/TASK #1/Array Rotation/solution.py
  1. Beginner level/TASK #1/data.json
  1. Beginner level/TASK #2/Profiles/ColonelAVP.png
  1. Beginner level/TASK #2/README.md
  1. Beginner level/TASK #2/data.json
Labels: good first issue, hacktoberfest-accepted

#61 The Battlefield
  1. Beginner level/TASK #1/The Battlefield/Question.md
  1. Beginner level/TASK #1/The Battlefield/Solution.cpp
  1. Beginner level/TASK #1/data.json
Labels: good first issue, hacktoberfest-accepted

#70 Added Largest Square Submatrix CPP
  1. Beginner level/TASK #1/Largest Square Submatrix/largest_square_submatrix_with1s.cpp
  1. Beginner level/TASK #1/Largest Square Submatrix/question.md
  1. Beginner level/TASK #1/data.json
Labels: good first issue, Changes-required

#82 updated data.json
  1. Beginner level/TASK #1/data.json
Labels: good first issue

#81 created question.md
  1. Beginner level/TASK #1/Count all Occurrence/question.md
  1. Beginner level/TASK #1/Count all Occurrence/solution.c
  1. Beginner level/TASK #1/Identity Matrix/question.md
  1. Beginner level/TASK #1/Identity Matrix/solution.c
  1. Beginner level/TASK #1/Insert Word/question.md
  1. Beginner level/TASK #1/Insert Word/solution.c
Labels: good first issue

#84 SplitArraySum added and json updated
  1. Beginner level/TASK #1/data.json
  1. Beginner level/TASK #1/splitArraySum/question.md
  1. Beginner level/TASK #1/splitArraySum/solution.java
Labels: good first issue

#87 updated data.json file
  1. Beginner level/TASK #1/data.json
Labels: good first issue

#86 uploaded a new program
  1. Beginner level/TASK #1/indian_flag_turtle/indian_flag_turtle.py
  1. Beginner level/TASK #1/indian_flag_turtle/question.md
Labels: enhancement, good first issue

#88 Update README.md
  1. Beginner level/TASK #2/README.md
Labels: good first issue
